@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";
  --font-open-sans: "Open Sans";
  --web-body-16-lh20: Montserrat;
  --body-paragraph-semi-bold: Poppins;
  --desktop-label-14medium: Rubik;
  --font-roboto: Roboto;

  /* font sizes */
  --web-h6-20b-lh26-size: 20px;
  --web-caption-2-14b-lh16-size: 14px;
  --web-body-16-lh20-size: 16px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --label-label-md-size: 12px;
  --heading-heading-4-size: 18px;
  --heading-heading-1-size: 32px;
  --web-h3-28b-lh30-size: 28px;

  /* Colors */
  --web-shades-of-black-6: #f2f2f2;
  --gray-black: #000;
  --web-shadesofblack-white: #fff;
  --primary-blue: #303c6c;
  --primary-orange: #fa976c;
  --shades-of-black-800: #666;
  --shades-of-black-500: #d2d2d2;
  --green: #6fcf97;
  --color-midnightblue: #0c1e5b;
  --color-aliceblue: #edf4fb;
  --color-darkgray: #969ba0;
  --color-ghostwhite-100: #f4f5f9;
  --light-theme-color-grey-2: #f3f2f7;
  --light-theme-color-body: #464255;
  --shades-of-black-900: #333;
  --primary-sky-blue: #b4dfe5;
  --red: #dc1500;
  --shades-of-black-400: #e3e3e3;
  --secondary-secondary-dark: #778ca2;
  --light-theme-color-info: #58cdff;
  --color-darkturquoise: #2ce5f6;
  --color-royalblue: #4d7cfe;
  --color-orange: #ffab2b;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-7xs: 6px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-12xs: 1px;
  --br-11xl: 30px;
}
